* { padding: 0; margin: 0; }
/* 페이지 기본 글꼴과 크기 설정 */
body { font-family: "맑은고딕";   font-size: 14px; }
img { border: 0;}
ul { list-style-type: none; }

a { display: inline-block; text-decoration: none; }
a:link { text-decoration:none; color: rgb(25, 64, 86); }
a:link { text-decoration:none; color: rgb(25, 64, 86); }
a:hover { text-decoration:none; color: rgb(25, 64, 86); }
a:visited { text-decoration:none; color: rgb(25, 64, 86); }
a:active { text-decoration:none; color: rgb(25, 64, 86); }

#board_box { position: relative; width: 1000px; margin: 0 auto; margin-top: 7px; }
#board_box_title { height: 300px; text-align: center; }
#board_box_title h2 { padding-top: 100px; color: white; font-size: 45px;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}
#board_box_title p { padding-top: 20px;color: white; font-size: 23px;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}

#board_list { height: 500px; margin-top: 20px; border: solid 1px #dddddd; }
#board_list li { padding: 10px 0; border-bottom: solid 1px #dddddd; }
#board_list span { display: inline-block; text-align: center;}
#board_list .subject { text-align: left; padding-left: 50px; width: 500px; }
#board_list .ncomment { width: 100px;}
#board_list .likes { width: 100px; }
#board_list .hit { width: 100px; }
#board_list .name { width: 100px; }

#page_num {	text-align: center;	margin: 30px 0 }
#page_num li { display: inline; }

#board_write_title { height: 30px; margin-top: 30px; padding-left: : 50px;}
#board_write_title p { font-size: 23px; }
#board_write_box { width: 1000px; height: 580px; margin-top: 20px; border: solid 1px #dddddd; display: inline-block;}
#board_write_box_name { height: 80px; font-size: 20px; }
#board_write_box_name p { padding-left: 50px; padding-top: 25px; }
#board_write_box_name li { padding-left: 50px; padding-top: 25px; display: inline-block;}
#board_write_box_name img { width:20px; height: 20px; }

#board_write_box_subject { height: 80px; }
#board_write_box_subject p { width : 900px; padding-left: 50px; padding-top: 10px; font-size: 40px;}
#board_write_box_subject input { width : 900px; height: 60px; border:0 solid black; color: gray; font-size: 40px;}

#board_write_box_content { height: 340px; }
#board_write_box_content p { width : 900px; padding-left: 50px; padding-top: 10px; font-size: 20px; }
#board_write_box_content textarea { width : 900px; height: 320px; border:0 solid black; color: gray; font-size: 20px;}

#board_write_box_file { margin-top: 20px; padding-left: 50px; }

#board_button { position: relative; width: 1000px; margin: 0 auto; margin-top: 20px; }
#board_button_box { text-align: right; }
#board_button_box li { display: inline-block; }
#board_button_box button { width: 120px; height: 40px; font-size: 15px; cursor: pointer;}
#board_button_insert { margin-right: 20px; color: white; background-color: rgb(25, 64, 86); border:0 solid black;}
#board_button_cancel { color: rgb(25, 64, 86); background-color: white; border:1px solid rgb(25, 64, 86);}

#board_view_box { width: 1000px; margin-top: 20px; border-top: solid 1px #dddddd;border-bottom: solid 1px #dddddd; display: inline-block;}
#board_view_box_content { padding-bottom: 30px; padding-top: 20px;}
#board_view_box_content p { width : 900px; padding-left: 50px; padding-top: 10px; font-size: 16px; }
#board_view_box_inf { padding-bottom: 30px; padding-left: 25px;padding-top: 50px; }
#board_view_box_inf li { display: inline;width : 900px; padding-left: 25px; font-size: 15px; }
#board_view_box_inf img { height: 15px; }
#board_view_box_inf button { float: right; width: 120px; height: 40px; font-size: 15px; cursor: pointer; 
 							border:0 solid black; color: white; background-color: rgb(25, 64, 86);}

#comment_box { width: 1000px; height: 140px; border: solid 1px #dddddd; margin-top: 30px;}
#comment_write { width: 900px; margin-left: 50px; margin-top: 20px; }
#comment_write ul { display: flex; }
#comment_write img { width: 80px; height: 80px; margin-left: 20px; vertical-align: center;}
#comment_write input { display: inline; width: 780px; height: 60px; border:0 solid black; color: gray; font-size: 20px; }
#comment_write_file { margin-left: 50px; }

#comment_list { width: 1000px; border-bottom: solid 1px #dddddd;}
#comment_list_box { height: 100px; border-bottom: solid 1px #dddddd;}
#comment_list_name { height: 50px; font-size: 13px; }
#comment_list_name p { padding-left: 50px; padding-top: 25px; }
#comment_list_name li { padding-left: 50px; padding-top: 25px; display: inline-block;}
#comment_list_name img { width:12px; height: 12px; }
#comment_list_content { height: 200px; }
#comment_list_content p { width : 900px; padding-left: 50px; padding-top: 10px; font-size: 13px; }
#comment_list_inf { padding-bottom: 30px; padding-left: 25px; padding-top: 50px; }
#comment_list_inf li { display: inline;width : 900px; padding-left: 25px; font-size: 15px; }
#comment_list_inf img { height: 15px; }

select { 
	-webkit-appearance: none; /* 네이티브 외형 감추기 */ 
	-moz-appearance: none; 
	appearance: none; 
	background: url(이미지 경로) no-repeat 95% 50%; /* 화살표 모양의 이미지 */
} /* IE 10, 11의 네이티브 화살표 숨기기 */ 
select::-ms-expand { display: none; }
select {
	vertical-align: center;
	cursor: pointer;
	width: 80px;
	border: 0px solid #999;
	font-family: inherit;
	background: url('../img/arrow.png') no-repeat 95% 50%;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

